.colorAzul {
	color: white;
	background-color: #0174DF;
	border-color: #003566;
	opacity: 1.0;
}

.colorAzul.active, .colorAzul.focus, .colorAzul:active, .colorAzul:focus, .colorAzul:hover{
	color: white;
	background-color: #006ACD;
	border-color: #002E5A;
	opacity: 1.0;
}


.colorRojo {
	color: white;
	background-color: #FF1F1F;
	border-color: #800F0F;
	opacity: 1.0;
}

.colorRojo.active, .colorRojo.focus, .colorRojo:active, .colorRojo:focus, .colorRojo:hover{
	color: white;
	background-color: #FF1010;
	border-color: #730E0E;
	opacity: 1.0;
}
