/* Buttons */
		.Button {
		-moz-box-shadow:inset 0px 0px 15px 3px #23395e;
		-webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
		box-shadow:inset 0px 0px 15px 3px #23395e;
		background-color:transparent;
		-moz-border-radius:17px;
		-webkit-border-radius:17px;
		border-radius:17px;
		border:1px solid #1f2f47;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:arial;
		font-size:15px;
		padding:6px 13px;
		text-decoration:none;
		text-shadow:0px 1px 0px #263666;
	}
	.Button:hover {
		background-color:green;
	}
	.Button:active {
		font-weight: bold;
		position:relative;
	}

.colorAzul {
	color: white;
	background-color: #0080FF;
	border-color: #004080;
	opacity: 1.0;
}

.colorAzul.active, .colorAzul.focus, .colorAzul:active, .colorAzul:focus, .colorAzul:hover{
	color: white;
	background-color: #0066CD;
	border-color: #00264D;
	opacity: 1.0;
}


.colorRojo {
	color: white;
	background-color: #E60000;
	border-color: #800000;
	opacity: 1.0;
}

.colorRojo.active, .colorRojo.focus, .colorRojo:active, .colorRojo:focus, .colorRojo:hover{
	color: white;
	background-color: #B30000;
	border-color: #4D0000;
	opacity: 1.0;
}

.colorVerde {
	color: white;
	background-color: #009A00;
	border-color: #003300;
	opacity: 1.0;
}

.colorVerde.active, .colorVerde.focus, .colorVerde:active, .colorVerde:focus, .colorVerde:hover{
	color: white;
	background-color: #006600;
	border-color: #001A00;
	opacity: 1.0;
}

.btn {
	font-weight: bold;
}

/*Inicio*/
.allScreenWidthButton{
	width: 100%;
	margin: 0;
	background-color: red;
}

.halfScreenWidthButton{
	width: 50%;
	background-color: green;
	float: left;
}

#dos {
	background-color: yellow;
}