/* Buttons */
		.Button {
		-moz-box-shadow:inset 0px 0px 15px 3px #23395e;
		-webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
		box-shadow:inset 0px 0px 15px 3px #23395e;
		background-color:transparent;
		-moz-border-radius:17px;
		-webkit-border-radius:17px;
		border-radius:17px;
		border:1px solid #1f2f47;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:arial;
		font-size:15px;
		padding:6px 13px;
		text-decoration:none;
		text-shadow:0px 1px 0px #263666;
	}
	.Button:hover {
		background-color:green;
	}
	.Button:active {
		font-weight: bold;
		position:relative;
	}

.colorAzul {
	color: white;
	background-color: #0174DF;
	border-color: #003566;
	opacity: 1.0;
}

.colorAzul.active, .colorAzul.focus, .colorAzul:active, .colorAzul:focus, .colorAzul:hover{
	color: white;
	background-color: #006ACD;
	border-color: #002E5A;
	opacity: 1.0;
}


.colorRojo {
	color: white;
	background-color: #FF1F1F;
	border-color: #800F0F;
	opacity: 1.0;
}

.colorRojo.active, .colorRojo.focus, .colorRojo:active, .colorRojo:focus, .colorRojo:hover{
	color: white;
	background-color: #FF1010;
	border-color: #730E0E;
	opacity: 1.0;
}

	      
